{{ define "main" }}
  {{ .Content }}

  <h2>Recent Posts</h2>

  <ul>
    {{ range site.RegularPages }}
      <li>
        <span class="section-container section-text">{{- upper .Section -}}</span>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>

        {{ if .Lastmod }}
          <span class="date-text lastmod">
            {{- .Lastmod | time.Format "2006-01-01" -}}
          </span>
        {{ end }}

        {{ if .Date }}
          <span class="date-test date">
            {{- .Date | time.Format "2006-01-01" -}}
          </span>
        {{ end }}

      </li>
    {{ end }}
  </ul>

{{ end }}
