{{ with .Site.Params.giscus }}
<script src="https://giscus.app/client.js"
        data-repo="{{ .repo }}"
        data-repo-id="{{ .repoId }}"
        data-category="{{ .category }}"
        data-category-id="{{ .categoryId }}"
        data-mapping="{{ .mapping | default "pathname" }}"
        data-strict="{{ .strict | default "0" }}"
        data-reactions-enabled="{{ .reactionsEnabled | default "1" }}"
        data-emit-metadata="{{ .emitMetadata | default "0" }}"
        data-input-position="{{ .inputPosition | default "bottom" }}"
        data-theme="{{ .theme | default "light" }}"
        data-lang="{{ .lang | default "ko" }}"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
