<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

{{/*  네이버 인증  */}}
<meta name="naver-site-verification" content="78f87e51731da805d96d41ff06fbe5278bbbab1f" />

<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title site.Title }}
  {{ end }}
</title>

{{/* Import StyleSheet */}}
{{ $style := resources.Get "scss/main.scss" | css.Sass | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{- $style.Permalink  -}}" integrity="{{- $style.Data.Integrity -}}"/>

{{/* MathJax 3 — SVG 출력, 외부 폰트 의존 없음 */}}
{{ if .Params.mathjax }}
  <script>
    window.MathJax = {
      tex: {
        inlineMath:  [['$', '$'],  ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true
      },
      svg: { fontCache: 'global' }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js" id="MathJax-script" async></script>
{{ end }}

{{/* Import PlantUML */}}
{{ if .Params.plantuml }}
  <script
    src='{{"js/plantuml.js" | relURL }}' charset="utf-8">
  </script>
{{ end }}

{{/* Import Favicons */}}

{{ partial "favicons.html" }}

{{/* Import Google Analytics*/}}
{{ partial "google_analytics.html" . }}