{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format "01-02/06" }}


<dl class="page-info">
  <dt>Date/Lastmod</dt>
  <dd class="dd-group"><span class="date-text date"><time datetime="{{ $dateMachine }}">{{- $dateHuman -}}</time></span>

  {{ if ne .Date .Lastmod}}
    <span class="date-text lastmod">{{- .Lastmod | time.Format "01-02/06" -}}</span></dd>
  {{ end }}

  <dt>Section</dt>
  <dd class="dd-group"><span class="section-text"><a href='{{- printf "/%s/" .Section | relURL -}}'>{{ .Section | upper }}</a></span></dd>

  {{ with .Params.categories }}
    <dt>Categories</dt>
      <dd class="dd-group">
        {{- range . -}}
          <span class="category-text"><a href='{{- "/categories/" | relLangURL -}}{{ . | urlize -}}'>{{- . -}}</a></span>
        {{- end -}}
      </dd>
  {{ end }}

  {{ with .Params.tags }}
    <dt>Tags</dt>
      <dd class="dd-group">
        {{- range . -}}
          <span class="tag-text"><a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{- . -}}</a></span>
        {{- end -}}
      </dd>
  {{- end -}}

</dl>