{{ $title := .Get "title" }}
{{ $type := .Get "type" }}

<blockquote class='admonition {{ $type }}'>

{{ if (and $title (not $type)) }}
  <p class="admonition-title-box">
    <span class="admonition-title-text">{{ $title | markdownify }}</span>
  </p>
{{ else if (and $title $type) }}
  <p class="admonition-title-box">
    <span class="admonition-type-text">{{ $type | markdownify }}/</span><span class="rub-admonition-title">{{ $title | markdownify}}</span>
  </p>
{{ else if (and (not $title) (not $type)) }}
{{ else if (and (not $title) ($type)) }}
  <p class="admonition-title-box">
    <span class="admonition-type-text">{{ $type | markdownify }}</span>
  </p>
{{ end }}

  <p>
    {{.Inner | markdownify}}
  </p>
</blockquote>