{{ $title := .Get "title" }}
{{ $type  := .Get "type" }}

<aside class="admonition {{ $type }}">

{{ if (and $title (not $type)) }}
  <div class="admonition-title-box">
    <span class="admonition-title-text">{{ $title | markdownify }}</span>
  </div>
{{ else if (and $title $type) }}
  <div class="admonition-title-box">
    <span class="admonition-type-text">{{ $type | markdownify }}/</span><span class="rub-admonition-title">{{ $title | markdownify }}</span>
  </div>
{{ else if (and (not $title) $type) }}
  <div class="admonition-title-box">
    <span class="admonition-type-text">{{ $type | markdownify }}</span>
  </div>
{{ end }}

  <div class="admonition-body">
    {{ .Inner | markdownify }}
  </div>

</aside>
